Powered by Delighters. [https://github.com/Q42/delighters]

/* 基本のスタイル */
   .foo.delighter {
      transition: all .3s ease-out;
      transform: translateX(-100%);
      opacity: 0;
   }
 
/* スタート時のスタイル */
   .foo.delighter.started {
      transform: none;
      opacity: 1;
   }
 
/* エンド時のスタイル */
   .foo.delighter.started.ended {
      border: solid red 10px;
   }
