html{
  background-color:black;
}

h1{
  font-size:1000%;
  height:100vh;
    color:white;
  
}

h1,h2,h3,p{
  font-family: 'Josefin Sans', sans-serif;sans-serif;
    color:white;
}

#nice_to_meet_you{
  font-size:30px;
}

h2{
  font-size:25px;
}

a{
  color:rgb(96, 128, 224);
}

p{
  font-size:30px;
 }

.trp{
font-size:30px
}

@media screen and (max-width: 480px){
  h1{
    transform: rotate(90deg);
  }
}
